

body {
    color: white;
    background-color: rgb(179, 162, 162);
    min-width: 200px;
    background-color: black;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
/* ------------------------------------------header----------------------------------- */

input[type="search"] {
    caret-color: white;
    outline: none; /* Remove the outline when the input is focused */
   
}
input[type="search"]:focus {
    outline: none; /* Remove default outline but keep the blinking cursor */
}
.header{
    height: 3.90rem;
}
.header ul li {
    list-style: none;
}
.header ul{
    padding: 0rem;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;
    
}
.backgroundleftright{
    background-color: black;
    height: calc(100vh - 5rem);
        
}

.left {
    height: calc(100vh - 10rem);
    width: 25vw;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    flex-direction: column;
    
}

.right {
    height: calc(100vh - 10rem);

    width: 75vw;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
   
    overflow-y: scroll;

}
.logohome{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
}
.search{
    width: 100%;
    height: 2.5rem;
}
.search input{
    color: white;
}
.logohome div span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
}
.logohome div img{
    height: 1.5rem;
}
.logohome div input{
    background-color: #252525;
    border: none;
    width: 100%;
    min-width: 11rem;

    cursor: pointer;
    

}
.logohome div {
    background-color: #252525;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

}
.search:focus{
    border: 2px solid white;
}
.background{
    background-color: #252525;
    border-radius: 50%;
    padding: 0rem;
    min-width:2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;

}


.library {
    padding-left: 0.8rem;
    margin: 0.1rem;
}

/* left screen */
.signup_login {
    align-items: center;
    justify-content: center;
}

.signup_login .signup {
    padding: 1rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
    border: none;
}

.signup_login .login {
    background-color: white;
    border: none;
    margin-right: 0.5rem;
    color: black;
    padding: 1rem;
    border-radius: 2rem;
}

.secondli {
    width: 50%;
}


.your-library {
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.your-library img {
    height: 1.8rem;

}



.playlist_podcast div button {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: 700;
    color: black;
    margin-bottom: 1rem;
}


.playlist {
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem;
    background-color: #252525;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.podcast {
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem;
    background-color: #252525;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.links {
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.links a {
    color: #656565;
    text-decoration: none;
    display: inline-block;
    height: 1rem;
    margin: 0.5rem;
}
.links a:last-child{
    color: white;
}

.buttonEnglish {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 1rem;
    width: max-content;
    padding: 0.5rem;
    margin: 0.5rem;
    
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttonEnglish img {
    height: 1rem;
    margin-right: 5px;
}


/* fixed preview bottom of screen*/

.preview{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 5rem;
    background-color: black;
    bottom: 0rem;
    padding: 0.4rem;
    box-sizing: border-box;
}
.signupfree{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
    min-width: 28.19rem;


}
.signupfree p{
    margin: 0rem;
    padding: 0rem;

}
.signupfree button{
    font-weight: 700;
    border-radius: 2rem;
    color: black;
    padding: 1rem;
    background-color: white;
    border: none;
    font-size: 1rem;
    min-width: 7.78rem;
    min-height: 3.125rem;

}

/* spotifyplaylist */

header {
    padding-left: 1.5rem;
}

.spotifyPlaylist {
    background-color: black;
}

.spotifyPlaylistContainer {
    display: flex;
    flex-wrap: wrap;
}

.playlistcard {
    width: 11rem;
    height: 16.8rem;
    padding: 1rem;
    position: relative;
    cursor: pointer;
}

.playlistcard:hover button {
    bottom: 7.2rem; 
    opacity: 1;
}

.playlistcard img {
    border-radius: 0.5rem;
    width: 100%;

}

.playlistcard button {
    margin: 0rem;
    all: unset;
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background-color: green;
    right: 1.5rem;
    bottom: 4rem;
    /* Initial position */
    opacity: 0;
    /* Start hidden */
    transition: all 0.7s ease;
    /* Smooth transition */

}

.playlistcard button img {
    width: 3rem;
    height: 3rem;
}

.playlistcard button :hover {
    background-color: rgb(94, 185, 94);
    border-radius: 50%;
}


.playlistcard p {
    width: 100%;
    margin: 0rem;
    margin-top: 0.4rem;
    color: #b3b3b3;
}
