.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.flex{
    display: flex;
}
.border{
    border: 1px solid red;
}
.margin{
    margin: 0.2rem;
}
.invert{
    filter: invert(1);
}
